body{
    margin: 50px;
}
.header{
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: end;
}
.nombretienda{
    margin-right:900px ;
    font-family:'Courier New', Courier, monospace
}
.elementosheader{
    display: flex;
    flex-direction: row;
    font-family:'Courier New', Courier, monospace;
}
.Products{
    margin-right: 30px;
}
.About{
    margin-right: 30px;
}
.account{
    margin-right: 30px;
}
.cart{
    margin-right: 30px;
}
.cabecerabody{
    font-family: 'Courier New', Courier, monospace;
}